*{
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
    overflow: hidden;
}
.container-con{
    height: 76vh;
}
.contactUs{
    /* display: flex; */
    font-size: 1.5vw;
    margin: 2vw 2vw;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5vw;
    font-weight: 600; 
}

.name{
    /* flex-direction: column; */
    padding: 5px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.5vw;
    font-weight: 900;    
}
.name a{
    text-decoration: none;
}
.name a:hover{
    /* font-weight: 900; */
    font-size: 2vw;

}